CFT_FILE="pipeline.yaml"
CFT_PACKAGE="$(echo $CFT_FILE | cut -f 1 -d '.').package.yaml"
CFT_STACK_NAME="qa-scala-docker-pipeline"
CFT_BUCKET="sc-cft-packages-qa"
CFT_BUCKET_PATH=""
CFT_PARAMS_FILE="./params-qa.json"